#map_main {
    padding: 20px;
}

#daumRoughmapContainer1686566373276 {
    margin: auto;
}

#text_main {
    text-align: center;
    margin-top: 30px;
}

b {
    font-size: 2rem;
    text-align: center;
}

p {
    margin-top: 20px;
    font-size: 20px;
}